:root {
    
}

* {
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.width__119 {
    width: 119px !important;
}

.mt__28 {
    margin-top: 28px;
}
